{% extends "base.html" %}

{% load static %}


{% block body %}

<main>


	<div class="cart-container">
		<div class="row">
		<div class="col-md-12">


		<h2 class="cart-title">Your Cart <span>({{cart|length}} 
                 {% if cart|length == 0 %}
				  
				 no item

				{% elif cart|length == 1 %}
				item

				{% else %}
				items
			 {% endif %}

			
			
			)</span></h2>

			<hr>
	
		<div class="cart-items">
			
			{% for cart_product in cart_products %}
			<div class="cart-item">
				<div class="cart-img">
					<img src="{{cart_product.image.url}}" alt="">
				</div>
	
				<div class="cart-details">
					<h3 class="cart-name">{{cart_product.name}}</h3>
					<p class="cart-category">{{cart_product.category}}</p>
					<p class="cart-description">Short description of product written here</p>
				</div>
	
				<div class="cart-quantity">
					<label>Quantity</label>
					<input type="number" value="cart_product.id" min="1">
				</div>
	
				<div class="cart-price">
					<b>Ksh</b> {{ cart_product.price }}.00
				</div>
	
				<div class="cart-remove">
					<button class="btn delete-product" type="button" data-index="{{cart_product.id}}">
						<i class="fa-solid fa-trash"></i>
					</button>
				</div>
			</div>
			{% endfor %}
		</div>
	
		<div class="cart-footer">
			<a href="{% url "shop_features:store" %}" class="continue-shopping">Continue Shopping</a>
			<a href="{% url "shop_features:shipping" %}"    class="checkout-btn">Proceed to Checkout</a>
		</div>
	</div>
	

</div>
</div>
</div>






</main>

{% endblock  %}


