{% extends "base.html" %}

{% load static %}


{% block body %}

<main>

  <div class="container">
    <div class="row gy-3">
      <div class="col-md-10">

    <table class="table caption-top">
        <caption>List of users</caption>

        <thead>
          <tr>

           
            <th scope="col">
              Product info
            </th>
            <th scope="col">
              Unit Price
            </th>
            <th scope="col">
              Quantity
            </th>
            <th scope="col">
              Total
            </th>
            <th scope="col">
              Remove
            </th>

          </tr>
        </thead>

        <tbody>

          {% for cart_product in  cart_products %}

          <tr>
           
            <td>
              <div class="product-widget">
								<div class="product-img">
									<img src="{{cart_product.image.url}}" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">{{cart_product.category}}</p>
									<h3 class="product-name"><a href="{% url "shop_features:product" cart_product.id %}">{{cart_product.name}}</a></h3>
									<a>
                    Edit
                   </a>
								</div>
							</div>
  </td>

            <td><b>ksh</b> {{cart_product.price}}.00</td>

            <td>
                    {% for key, value in  quantities.items%}
                    {% if  key == cart_product.id|slugify %}
                    {{value}}
                    {% endif %}
                    
                    {% endfor %}

            </td>

            <td>Mark</td>

            <td>
              <button>
                <i class="fa-solid fa-x" style="color: #B197FC;"></i>
              </button>
            </td>

          </tr>
          {% endfor %}

        </tbody>
      </table>


    </div>
  </div>
</div>

</main>

{% endblock  %}


