{% extends "base.html" %}

{% load static %}


{% block body %}

<main>

  <div class="container">
    <div class="row gy-3">
      <div class="col-md-10">

    <table class="table caption-top">
        <caption>List of users</caption>

        <thead>
          <tr>

            <th scope="col">
              #
            </th>
            <th scope="col">
              Product info
            </th>
            <th scope="col">
              Unit Price
            </th>
            <th scope="col">
              Quantity
            </th>
            <th scope="col">
              Total
            </th>
            <th scope="col">
              Remove
            </th>

          </tr>
        </thead>

        <tbody>

          <tr>
            <th scope="row">1</th>
            <td class="cart-product">

            <div>
              <img src="{% static './img/shop03.png' %}" alt="">
            </div>

              <div>
             <h2>
                Product name - Category
             </h2>
               <a>
                Edit
               </a>

            </div>

            </td>

            <td>Mark</td>

            <td>Mark</td>

            <td>Mark</td>

            <td>
              <button>
                <i class="fa-solid fa-x" style="color: #B197FC;"></i>
              </button>
            </td>

          </tr>

       
<tr>
          <th scope="row">1</th>
          <td class="cart-product">

          <div>
            <img src="{% static './img/shop02.png' %}" alt="">
          </div>

            <div>
           <h2>
              Product name - Category
           </h2>
             <a>
              Edit
             </a>

          </div>

          </td>

          <td>Mark</td>

          <td>Mark</td>

          <td>Mark</td>

          <td>
            <button>
              <i class="fa-solid fa-x" style="color: #B197FC;"></i>
            </button>
          </td>

        </tr>
          
        


        </tbody>
      </table>


    </div>
  </div>
</div>

</main>

{% endblock  %}


