{% extends "base.html" %}

{% load static %}





{% block  body %}

<main>








	<!-- HOT DEAL SECTION -->
	<div id="hot-deal" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<div class="col-md-12">
					<div class="hot-deal">
						<ul class="hot-deal-countdown">
							<li>
								<div>
									<h3>02</h3>
									<span>Days</span>
								</div>
							</li>
							<li>
								<div>
									<h3>10</h3>
									<span>Hours</span>
								</div>
							</li>
							<li>
								<div>
									<h3>34</h3>
									<span>Mins</span>
								</div>
							</li>
							<li>
								<div>
									<h3>60</h3>
									<span>Secs</span>
								</div>
							</li>
						</ul>
						<h2 class="text-uppercase">hot deal this week</h2>
						<p>New Collection Up to 50% OFF</p>
						<a class="primary-btn cta-btn" href="#">Shop now</a>
					</div>
				</div>




			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /HOT DEAL SECTION -->




<!-- SECTION -->
<div class="section ">


	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row product-icons">

			<div  class="col-md-12 product-icons-section">
			<!-- STORE -->
			<div  class="col-sm-2">
				<i class="fa-solid fa-headphones  text-center " style="color: #B197FC;"></i>
				<p >headphones</p>
			</div>

			<div  class="col-sm-2">
				<i class="fa-solid fa-laptop " style="color: #B197FC;"></i>
				<p >Laptops</p>
			</div>

			
			<div  class="col-sm-2">
				<i class="fa-solid fa-desktop " style="color: #B197FC;"></i>
				<p >Laptops</p>
			</div>


			<div  class="col-sm-2">
				<i class="fa-solid fa-camera-retro " style="color: #B197FC;"></i>
				<p >smartphone</p>
			</div>

			<div  class="col-sm-2">
				<i class="fa-solid fa-radio" style="color: #B197FC;"></i>
				<p >Laptops</p>
			</div>

			<div  class="col-sm-2">
				<i class="fa-solid fa-gamepad " style="color: #B197FC;"></i>
				<p >Gaming</p>
			</div>


		</div>
			

		</div>
	</div>
</div>










<!-- SECTION -->
<div class="section about">

	<h2 class="heading">
    ABOUT US
	</h2>
	<p class="sub-heading">
Sound in its purest state
	</p>
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- STORE -->
			<div  class="col-md-6 section-1">
				<p>
	{% lorem 1 %}
				</p>

			</div>

			<div  class="col-md-6 section-2">
				<p>
					{% lorem 1 %}
								</p>

			</div>



		</div>
	</div>
</div>




	

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="{% static './img/shop01.png' %}" alt="">
							</div>
							<div class="shop-body">
								<h3>Laptop<br>Collection</h3>
								<a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->

					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="{% static './img/shop03.png' %}" alt="">
							</div>
							<div class="shop-body">
								<h3>Accessories<br>Collection</h3>
								<a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->

					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="{% static './img/shop02.png' %}" alt="">
							</div>
							<div class="shop-body">
								<h3>Cameras<br>Collection</h3>
								<a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->










	<!-- SECTION -->
	<div class="section">

		<h2 class="heading">
ALL PACKAGES
		</h2>
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- STORE -->
				<div id="store" class="col-md-12">
					
					<!-- /store top filter -->


				<!-- store products -->
						<div class="row justify-content-evenly">


							{% for product in products %}
				{% if  product.is_sale %}
				<!-- product -->
				<div class="col-md-3 col-xs-6">

					<div class="product">

			<div class="product-img">
				<img src="{{product.image.url}}" alt="">
				<div class="product-label">
					<span class="new">SALE!</span>
			</div>
		</div>

		<div class="product-body">

			<div>
				<span>
					<i class="fa-solid fa-star fa-sm" style="color: #B197FC;"></i>
					<i class="fa-solid fa-star fa-sm" style="color: #B197FC;"></i>
					<i class="fa-solid fa-star fa-sm" style="color: #B197FC;"></i>
					<i class="fa-solid fa-star fa-sm" style="color: #B197FC;"></i>
					<i class="fa-solid fa-star fa-sm" style="color: #B197FC;"></i>
				</span>
			</div>

			<h3 class="product-name"><a href="#">{{product.name}}</a></h3>
			<h4 class="product-price">ksh{{product.sale_price}}.00 <del class="product-old-price">ksh{{product.price}}.00</del></h4>
			
			
     

		</div>
		
	</div>
</div>
<!-- /product -->

<div class="clearfix visible-sm visible-xs"></div>

					


                 {% else %}

						<!-- product -->
						<div class="col-md-3 col-xs-6">

							<div class="product">

								<div class="product-img">
									<img src="{{product.image.url}}" alt="">
								</div>

					
								<div class="product-body">
									<div>
										<span>
											<i class="fa-solid fa-star fa-sm" style="color: #B197FC;"></i>
											<i class="fa-solid fa-star fa-sm" style="color: #B197FC;"></i>
											<i class="fa-solid fa-star fa-sm" style="color: #B197FC;"></i>
											<i class="fa-solid fa-star fa-sm" style="color: #B197FC;"></i>
											<i class="fa-solid fa-star fa-sm" style="color: #B197FC;"></i>
										</span>
									</div>
						
									<h3 class="product-name"><a href="#">{{product.name}}</a></h3>
									<h4 class="product-price">ksh{{product.price}}.00 </h4>
								
						



								</div>
							
							</div>
						</div>
						<!-- /product -->

						{% endif %}

						{% endfor %}

						
						
						

					
					
					</div>
					<!-- /store products -->

				
				
				</div>
				<!-- /STORE -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<div class="section company-info-section">
	<div class="container ">
		<div class="row ">
			<div class="col-md-12 ">

				<div class="col-sm-3 company-info">

					<div>
						<i class="fa-solid fa-headset fa-2xl" style="color: #B197FC;"></i>
					</div>

					<div class="ms-2">
						<h3>
                             Free fast Delivery
						</h3>
						<p>
							Fast Order Delivery tracking
						</p>
						
					</div>

	</div>


	<div class="col-sm-3 company-info">

		<div>
			<i class="fa-solid fa-hand-holding-dollar fa-2xl" style="color: #0D0D0D;"></i>
		</div>

		<div class="ms-2">
			<h3>
                             24 ×  7
						</h3>
						<p>
							If You Need Help We Offer
						</p>			
		</div>


	</div>

	<div class="col-sm-3 company-info">
		<div>
			<i class="fa-solid fa-medal fa-2xl" style="color: #0D0D0D;"></i>
		</div>

		<div class="ms-2">
			<h3>
                             Best Quality
						</h3>
						<p>
							The Best Quality Squishes
						</p>			
		</div>

	</div>

	<div class="col-sm-3 company-info">
		<div>
			<i class="fa-solid fa-truck-fast fa-2xl" style="color: #0D0D0D;"></i>		
		</div>

		<div class="ms-2">
			<h3>
				Gift voucher
		   </h3>
		   <p>
			Terms and conditions for
		   </p>		
		</div>


	</div>

</div>
</div>
</div>
</div>








		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">



					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->



									<div class="col-sm-3 text-center">
											<div class="category-product-img rounded-circle">
												<img src="{% static './img/product01.png' %}" alt="">

											</div>
											<div class="category-product-body">
												<p class="category-name">Category</p>
												
											</div>
										</div>
											
								




										<!-- product -->
										<div class="col-sm-3 text-center">
											<div class="category-product-img rounded-circle">
												<img src="{% static './img/product02.png' %}" alt="">
												
											</div>
											<div class="product-body">
												<p class="product-name">Category</p>
											
											</div>
										</div>
										<!-- /product -->



										<!-- product -->
										<div class="col-sm-3 text-center">
											<div class="category-product-img rounded-circle">
												<img src="{% static './img/product03.png' %}" alt="">
												
											</div>
											<div class="product-body">
												<p class="category-name">Category</p>
												
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="col-sm-3 text-center">
											<div class="category-product-img rounded-circle">
												<img src="{% static './img/product04.png' %}" alt="">
											</div>
											<div class="product-body">
												<p class="category-name">Category</p>
																							
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="col-sm-3 text-center">
											<div class="category-product-img rounded-circle">
												<img src="{% static './img/product05.png' %}" alt="">
											</div>
											<div class="category-product-body">
												<p class="category-name">Category</p>

											</div>	
										</div>
										<!-- /product -->



									</div>

								
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->











		












		
	</main>


{% endblock  %}