{% extends "base.html" %}

{% load static %}





{% block  body %}

<main>





	<!-- HOT DEAL SECTION -->
	<div id="hot-deal" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<div class="col-md-12">
					<div class="hot-deal">
					<h2 class="text-uppercase hot-deal-heading">hot deal this week</h2>
			<p>New Collection Up to 50% OFF</p>
			<a class="primary-btn cta-btn" href="{% url "shop_features:store" %}">Shop now</a>
					</div>
				</div>

				


			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /HOT DEAL SECTION -->














<!-- SECTION -->
<div class="section about">

	<h2 class="heading">
    ABOUT US
	</h2>
	<p class="sub-heading">
Sound in its purest state
	</p>
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- STORE -->
			<div  class="col-md-6 section-1">
				<p>
					Welcome to Mercy Electronics, your one-stop shop for high-quality electronics. We specialize in providing the latest gadgets, from smartphones and laptops to home appliances and accessories. Our mission is to make technology accessible, affordable, and reliable for everyone.

					With a focus on quality, affordability, and customer satisfaction, we ensure that all our products meet industry standards and come with warranties for peace of mind. Whether you're upgrading your tech or looking for the best deals, Mercy Electronics is here for you.
				</p>

			</div>

			<div  class="col-md-6 section-2">
				<h3 class="">
					Why Choose Us?
				</h3>
					<ul>
						<li> Find everything from top-brand electronics to budget-friendly options.</li>
						<li>Competitive pricing with great discounts and offers.</li>
						<li>Safe online transactions with multiple payment options.</li>
						<li>Reliable and quick shipping to your doorstep.</li>
					</ul>
					<p>
						At Mercy Electronics, we bring technology closer to you. Shop with us today and experience innovation made easy!
					</p>
								

			</div>



		</div>
	</div>
</div>





<!-- SECTION -->
<div class="section category-section mb-2">
	<h2 class="heading mb-3 mb-3">
Find Things You'll Love
	</h2>
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">



			<!-- Products tab & slick -->
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<!-- tab -->
						<div id="tab1" class="tab-pane active">
							<div class="products-slick" data-nav="#slick-nav-1">
								<!-- product -->

                                    {% for item in items %}
									
							<div class="col-sm-2 text-center category">
									<div class="category-product-img rounded-circle">
										<img src="{{item.image.url}}" alt="">

									</div>
									<div class="category-product-body">
										<a class="category-name">{{item.name}} <i class="fa-solid fa-arrow-right-long ms-2" style="color: #2F2F2F;"></i></a>
										
									</div>
								</div>
								{% endfor %}
									



							</div>

						
						</div>
						<!-- /tab -->
					</div>
				</div>
			</div>
			<!-- Products tab & slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->







	

	<!-- SECTION -->
	<div class="section">

		<h2 class="heading">
ALL PACKAGES
		</h2>
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- STORE -->
				<div id="store" class="col-md-12">
					
					<!-- /store top filter -->
                 	<!-- store products -->
						<div class="row justify-content-evenly">


							{% for product in products %}
				{% if  product.is_sale %}
				<!-- product -->
				<div class="col-md-3 col-xs-6">

					<div class="product">

			<div class="product-img">
				<img src="{{product.image.url}}" alt="">
				<div class="product-label">
					<span class="new">SALE!</span>
			</div>
		</div>

		<div class="product-body">

			<div>
				<span>
					<i class="fa-solid fa-star fa-sm" style="color: #8B8F98;"></i>
					<i class="fa-solid fa-star fa-sm" style="color: #8B8F98;"></i>
					<i class="fa-solid fa-star fa-sm" style="color: #8B8F98;"></i>
					<i class="fa-solid fa-star fa-sm" style="color: #8B8F98;"></i>
					<i class="fa-solid fa-star fa-sm" style="color: #8B8F98;"></i>
				</span>
			</div>

			<h3 class="product-name"><a href="#">{{product.name}}</a></h3>
			<h4 class="product-price">ksh{{product.sale_price}}.00 <del class="product-old-price">ksh{{product.price}}.00</del></h4>
			
			
     

		</div>
		
	</div>
</div>
<!-- /product -->

<div class="clearfix visible-sm visible-xs"></div>

					


                 {% else %}

						<!-- product -->
						<div class="col-md-3 col-xs-6">

							<div class="product">

								<div class="product-img">
									<img src="{{product.image.url}}" alt="">
								</div>

					
								<div class="product-body">
									<div>
										<span>
											<i class="fa-solid fa-star fa-sm" style="color: #8B8F98;"></i>
											<i class="fa-solid fa-star fa-sm" style="color: #8B8F98;"></i>
											<i class="fa-solid fa-star fa-sm" style="color: #8B8F98;"></i>
											<i class="fa-solid fa-star fa-sm" style="color: #8B8F98;"></i>
											<i class="fa-solid fa-star fa-sm" style="color: #8B8F98;"></i>
										</span>
									</div>
						
									<h3 class="product-name"><a href="#">{{product.name}}</a></h3>
									<h4 class="product-price">ksh{{product.price}}.00 </h4>
								
						



								</div>
							
							</div>
						</div>
						<!-- /product -->

						{% endif %}

						{% endfor %}

						
					
					</div>
					<!-- /store products -->

				
				
				</div>
				<!-- /STORE -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->




	<div class="section company-info-section">
	<div class="container ">
		<div class="row ">
			<div class="col-md-12 ">

				<div class="col-sm-3 company-info">

					<div>
						<i class="fa-solid fa-headset fa-2xl" style="color: #8B8F98;"></i>
					</div>

					<div class="ms-2">
						<h3>
                             Free fast Delivery
						</h3>
						<p>
							Fast Order Delivery tracking
						</p>
						
					</div>

	</div>


	<div class="col-sm-3 company-info">

		<div>
			<i class="fa-solid fa-hand-holding-dollar fa-2xl" style="color: #0D0D0D;"></i>
		</div>

		<div class="ms-2">
			<h3>
                             24 ×  7
						</h3>
						<p>
							If You Need Help We Offer
						</p>			
		</div>


	</div>

	<div class="col-sm-3 company-info">
		<div>
			<i class="fa-solid fa-medal fa-2xl" style="color: #0D0D0D;"></i>
		</div>

		<div class="ms-2">
			<h3>
                             Best Quality
						</h3>
						<p>
							The Best Quality Squishes
						</p>			
		</div>

	</div>

	<div class="col-sm-3 company-info">
		<div>
			<i class="fa-solid fa-truck-fast fa-2xl" style="color: #0D0D0D;"></i>		
		</div>

		<div class="ms-2">
			<h3>
				Gift voucher
		   </h3>
		   <p>
			Terms and conditions for
		   </p>		
		</div>


	</div>

</div>
</div>
</div>
</div>








		









		












		
	</main>


{% endblock  %}