{% extends "layout.html" %}

{% load static %}






{% block body  %}

<main>
    
	<div class="section">
<div class="container">
<div class="row gy-3">
	<div class="col-md-5 offset-md-3 shadow-sm form-section">
	
	<form method="POST" class="form text-center " action="{% url "shop_features:login" %}">
		{% csrf_token %}

		<h2>Welcome to Electro </h2>
			<div class="col-md-12 form-group">
			  <label for="username" class="form-label text-dark ">Username</label>
			  <br/>
			  <input name="username" type="text"  id="username" placeholder="Enter your username" >
			</div>

			<div class="col-md-12 form-group">
			  <label for="inputPassword4" class="form-label text-dark">Password</label>
			  <br/>
			  <input name="password" type="password" id="inputPassword4" placeholder="password">
			</div>


			<div class="col-md-12 text-center mt-2 mb-2">
			  <button type="submit" class="btn btn-secondary">Log in</button>
			</div>
		  </form>
	

</div>
</div>
</div>
</div>


</main>



{% endblock  %}