{% extends "layout.html" %}

{% load static %}






{% block body  %}

<main>
    <!-- HOT DEAL SECTION -->
	<div id="hot-deal" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<div class="col-md-12">
					<div class="hot-deal">

						<h2 class="text-uppercase">Welcome to Electro </h2>
						<p>Login</p>
						
					</div>
				</div>


			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /HOT DEAL SECTION -->


<div class="container">
<div class="row g-3">
	<div class="col-md-6 offset-md-3">
	
	<form>
			<div class="col-md-12">
			  <label for="inputEmail4" class="form-label ">Email</label>
			  <input type="email" class="form-control" id="inputEmail4">
			</div>

			<div class="col-md-12">
			  <label for="inputPassword4" class="form-label">Password</label>
			  <input type="password" class="form-control" id="inputPassword4">
			</div>

			<div class="col-md-12">
			  <label for="inputAddress" class="form-label">Address</label>
			  <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
			</div>

			<div class="col-md-12">
			  <label for="inputAddress2" class="form-label">Address 2</label>
			  <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
			</div>

		

			<div class="col-md-12 text-center mt-2 mb-2">
			  <button type="submit" class="btn btn-secondary">Sign in</button>
			</div>
		  </form>
	

</div>
</div>
</div>


</main>



{% endblock  %}