{% extends "layout.html" %}

{% load static %}






{% block body  %}

<main>
    <!-- HOT DEAL SECTION -->
	<div id="hot-deal" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<div class="col-md-12">
					<div class="hot-deal">

						<h2 class="text-uppercase">Welcome to Electro </h2>
						<p>Login</p>
						
					</div>
				</div>


			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /HOT DEAL SECTION -->


<div class="container">
<div class="row g-3">
	<div class="col-md-6 offset-md-3">
	
	<form method="POST" action="{% url "shop_features:login" %}">
		{% csrf_token %}
			<div class="col-md-12">
			  <label for="username" class="form-label ">Username</label>
			  <input name="username" type="text" class="form-control" id="username" placeholder="Enter your username" >
			</div>

			<div class="col-md-12">
			  <label for="inputPassword4" class="form-label">Password</label>
			  <input name="password" type="password" class="form-control" id="inputPassword4" placeholder="password">
			</div>


			<div class="col-md-12 text-center mt-2 mb-2">
			  <button type="submit" class="btn btn-secondary">Log in</button>
			</div>
		  </form>
	

</div>
</div>
</div>


</main>



{% endblock  %}