{% extends "layout.html" %}

{% load static %}






{% block body  %}

<main>
    <!-- HOT DEAL SECTION -->
	<div id="hot-deal" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<div class="col-md-12">
					<div class="hot-deal">

						<h2 class="text-uppercase">Welcome to Electro </h2>
						<p>Register</p>
						
					</div>
				</div>


			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /HOT DEAL SECTION -->


<div class="container">
<div class="row g-3">
	<div class="col-md-6 offset-md-3">
	
	<form method="POST" action="{% url "shop_features:login" %}">
		{% csrf_token %}
			

		  </form>
	

</div>
</div>
</div>


</main>



{% endblock  %}