{% extends "base.html" %}

{% load static %}



{% block body %}

<main>


		



		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

		


					<!-- STORE -->
					<div id="store" class="col-md-12">
						<!-- store top filter -->
						<div class="store-filter clearfix">
							<div class="store-sort">
								<label>
									Sort By:
									<select class="input-select">
										<option value="0">Popular</option>
										<option value="1">Position</option>
									</select>
								</label>

								<label>
									Show:
									<select class="input-select">
										<option value="0">20</option>
										<option value="1">50</option>
									</select>
								</label>
							</div>
							<ul class="store-grid">
								<li class="active"><i class="fa fa-th"></i></li>
								<li><a href="#"><i class="fa fa-th-list"></i></a></li>
							</ul>
						</div>
						<!-- /store top filter -->

						<!-- store products -->
						<div class="row">
							<!-- product -->
								<!-- store products -->
					<div class="row">
						{% for item in items %}
 {% if  product.is_sale %}
<!-- product -->
<div class="col-md-4 col-xs-6">

	<div class="product">

		<div class="product-img">
			<img src="{{item.image.url}}" alt="">
			<div class="product-label">
				<span class="new">SALE!</span>
			</div>
		</div>

		<div class="product-body">
			<p class="product-category">{{item.category}}</p>
			<h3 class="product-name"><a href="#">{{item.name}}</a></h3>
			<h4 class="product-price">{{item.sale_price}}.00 <del class="product-old-price">{{item.price}}.00</del></h4>
			<p>{{item.id}}</p>



			<a href="{% url "shop_features:product" item.id %}" class="add-to-cart-btn">View Product</a>
		
			<button class="add-to-cart-btn" value="{{item.id}}" id="add-cart">
				Add to cart
			</button>


		</div>
		
	</div>
</div>
<!-- /product -->

<div class="clearfix visible-sm visible-xs"></div>

					


                 {% else %}

						<!-- product -->
						<div class="col-md-4 col-xs-6">

							<div class="product">

								<div class="product-img">
									<img src="{{item.image.url}}" alt="">
								</div>

								<div class="product-body">
									<p class="product-category">{{item.category}}</p>
									<h3 class="product-name"><a href="#">{{item.name}}</a></h3>
									<h4 class="product-price">ksh{{item.price}}.00 </h4>
									<p>{{item.id}}</p>
								<a href="{% url "shop_features:product" item.id %}" class="add-to-cart-btn">View Product</a>

								<button class="add-to-cart-btn" value="{{item.id}}" id="add-cart">
									Add to cart
								</button>
				



								</div>
							
							</div>
						</div>
						<!-- /product -->

						{% endif %}

						{% endfor %}

						
						
						

					

					
						
					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

	</main>

		{% endblock  %}