{% extends "base.html" %}

{% load static %}



{% block body %}

<main>


		



		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

		


					<!-- STORE -->
					<div id="store" class="col-md-12">
						<!-- store top filter -->
						

						<!-- store products -->
						<div class="row">
							<!-- product -->
								<!-- store products -->
					<div class="row">
						{% for item in items %}
 {% if  item.is_sale %}
<!-- product -->
<div class="col-md-3 col-xs-6">

	<div class="product">

		<div class="product-img">
			<img src="{{item.image.url}}" alt="">
			<div class="product-label">
				<span class="new">SALE!</span>
			</div>
		</div>

		<div class="product-body">
			<div>
				<span>
					<i class="fa-solid fa-star fa-sm" style="color: #8B8F98;"></i>
					<i class="fa-solid fa-star fa-sm" style="color: #8B8F98;"></i>
					<i class="fa-solid fa-star fa-sm" style="color: #8B8F98;"></i>
					<i class="fa-solid fa-star fa-sm" style="color: #8B8F98;"></i>
					<i class="fa-solid fa-star fa-sm" style="color: #8B8F98;"></i>
				</span>
			</div>
			<p class="product-category">{{item.category}}</p>
			<h3 class="product-name"><a href="#">{{item.name}}</a></h3>
			<h4 class="product-price">{{item.sale_price}}.00 <del class="product-old-price">{{item.price}}.00</del></h4>
			

			<a href="{% url "shop_features:product" item.id %}" class="add-to-cart-btn">View Product</a>


		</div>
		
	</div>
</div>
<!-- /product -->

<div class="clearfix visible-sm visible-xs"></div>

					


                 {% else %}

						<!-- product -->
						<div class="col-md-3 col-xs-6">

							<div class="product">

								<div class="product-img">
									<img src="{{item.image.url}}" alt="">
								</div>

								<div class="product-body">
									<div>
										<span>
											<i class="fa-solid fa-star fa-sm" style="color: #8B8F98;"></i>
											<i class="fa-solid fa-star fa-sm" style="color: #8B8F98;"></i>
											<i class="fa-solid fa-star fa-sm" style="color: #8B8F98;"></i>
											<i class="fa-solid fa-star fa-sm" style="color: #8B8F98;"></i>
											<i class="fa-solid fa-star fa-sm" style="color: #8B8F98;"></i>
										</span>
									</div>
									<p class="product-category">{{item.category}}</p>
									<h3 class="product-name"><a href="#">{{item.name}}</a></h3>
									<h4 class="product-price">ksh{{item.price}}.00 </h4>
								<a href="{% url "shop_features:product" item.id %}" class="add-to-cart-btn">View Product</a>
				

								</div>
							
							</div>
						</div>
						<!-- /product -->

						{% endif %}

						{% endfor %}

						
						
						

					

					
						
					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

	</main>

		{% endblock  %}