{% extends "base.html" %}

{% load static %}


{% block body %}

<main>


	<div class="cart-container">
		<div class="row">
		<div class="col-md-12">


		<h2 class="cart-title">Your Cart <span>({{cart|length}} 
                 {% if cart|length == 0 %}
				  
				 no item

				{% elif cart|length == 1 %}
				item

				{% else %}
				items
			 {% endif %}

			
			
			)</span></h2>

			<hr>
	
		<div class="cart-items">
			
			{% for cart_product in cart_products %}
			<div class="cart-item">
				<div class="cart-img">
					<img src="{{cart_product.image.url}}" alt="">
				</div>
	
				<div class="cart-details">
					<h3 class="cart-name">{{cart_product.name}}</h3>
					<p class="cart-category">{{cart_product.category}}</p>
					<button type="button" class="cart-update-link update-cart" id="update-cart"data-index="{{cart_product.id}}">Edit</button>
				</div>
	
        
					<div class="quantity-section product-description-heading">
						<div>
							<p class="me-2">Quantity:</p>
						</div>
						<div>
							<select class="form-select ms-2 form-select-sm"  id="select{{cart_product.id}}">
								<option selected>
									{% for key, value  in quantities.items %}
									{% if key == cart_product.id|slugify %}
									{{value}}
									{% endif %}
									
									{% endfor %}
								</option>

								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</div>
					</div>
			
				
	
				<div class="cart-price">
					<b>Ksh</b> 
					{% if cart_product.is_sale %}
					{{ cart_product.sale_price }}.00
					{% else %}
						{{ cart_product.price }}.00
					{% endif %}
					
				</div>
	
				<div class="cart-remove">
					<button class="btn delete-product" type="button" data-index="{{cart_product.id}}">
						<i class="fa-solid fa-trash"></i>
					</button>
				</div>
			</div>
			{% endfor %}
		</div>

		<div class="cart-total">
		<span>Total: </span><span>ksh{{totals}}</span>
		</div>
	
		<div class="cart-footer">
			<a href="{% url "shop_features:store" %}" class="continue-shopping">Continue Shopping</a>
			<a href="{% url "payment:shipping" %}"    class="checkout-btn">Proceed to Checkout</a>
		</div>
	</div>
	

</div>
</div>
</div>






</main>

{% endblock  %}


